<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	<!-- <filter>
		<filter-name>CustomCharacterEncodingFilter</filter-name>
		<filter-class>com.kren.simplespingmvc.filter.CustomCharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CustomCharacterEncodingFilter</filter-name>
		<url-pattern>/config-1/test</url-pattern>
	</filter-mapping> -->
	
	<!-- <filter>
		<filter-name>ForTestFilter</filter-name>
		<filter-class>com.kren.simplespingmvc.filter.ForTestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ForTestFilter</filter-name>
		<url-pattern>/config-1/*</url-pattern>
	</filter-mapping> -->
	
	

</web-app>